---

params:
  ESPURNA_USERNAME: admin
  ESPURNA_PASSWORD:
  ESPURNA_TARGET:

platform: linux

image_resource:
  type: docker-image
  source: {repository: appropriate/curl}

inputs:
  - name: artifact

run:
  path: sh
  args: 
  - -ec
  - |
   curl -XPOST --digest -u$ESPURNA_USERNAME:$ESPURNA_PASSWORD -H "Content-Type: multipart/form-data" -F "filename=@artifact/firmware.bin" -F "name=\"upgrade\"" http://$ESPURNA_TARGET/upgrade
